#top-half {
  height: 600px;
  background-image: url(https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg);
  background-position: center;
  background-size: cover;
}

header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav {

  color: white;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  
}

logo {
  width: 15%;
  color: orange;
  display: flex;
  font-family: 'Kaushan Script', cursive;
  font-size: 2em;

}

#intro {
  height: 50vh;
  width: 100vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#meet {
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
}

#id {
  border: 30px;
  border-color: orange;
}

